# Nodejs environment
node_modules/
dist/

# App specific
src/logs/*
!src/logs/.keep

# Environment variables
.env
.environment
.env.local
.env.prod
.env.production
.env.test
.env.staging
.env.dev
!.env.sample
!.env.example

# Others
uploads/*
!uploads/


# OS Specific
.DS_Store
.exe
.dll
.ini
